body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #4D607C;
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

input[type="number"], input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 1em;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

input[type="number"]:focus, input[type="text"]:focus, select:focus {
    border-color: #34D399;
    outline: none;
    background-color: #e3f7f1;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    color: #333;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding-right: 30px; /* Espaço para a seta */
    position: relative;
    box-sizing: border-box;
}

select:focus {
    border-color: #34D399;
    background-color: #e3f7f1;
}

select::after {
    content: '\2193'; /* Setinha para baixo */
    font-size: 1.5em;
    color: #333; /* Cor da seta */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

button {
    background-color: #34D399;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
}

button:hover {
    background-color: #28a57b;
}

#resultado {
    margin-top: 20px;
    font-size: 1.3em;
    font-weight: bold;
}
